---
// Importujemy wszystkie potrzebne "klocki"
import Layout from "../layouts/layout.astro";
import Navbar from "../components/navbar.astro";
import Hero from "../components/hero.astro";
import About from "../components/about.astro";
import Projects from "../components/projects.astro";
import Contact from "../components/contact.astro"; // <-- NOWY IMPORT
import Footer from "../components/footer.astro";
---

<Layout title="The Digital Handshake - [Piotr Górzyński]">
  <Navbar />

  <main>
    <Hero />
    <About />
    <Projects />
    <Contact />
    <!-- <-- UŻYCIE NOWEGO KOMPONENTU -->
  </main>

  <Footer />
</Layout>
